@charset 'utf-8';
/* reset */
* {
  box-sizing: border-box;
  /* background: #f7f5f0; */
  color: #555;
}
:root {
  scroll-behavior: smooth;
}
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, pre, a,
img, strong, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
footer, header,
nav, section,
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
input {
  background: transparent;
  border: none;
  outline: none;
}
address {
  font-style: normal;
}